.header {
  background-image: url('../../../public/imagessite/cielEtoile.jpg');
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%; /* Ajout de padding pour éviter que le contenu touche les bords */
}

.logo {
  width: 8em;
}

.header-title {
  color: whitesmoke;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
}
