.navBar {
  background-color: #4C6375;
  padding: 1em;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navList li {
  float: left;
}

.navList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList li a:hover {
  background-color: #7A9E9F;
}

/* Sous-menu / Dropdown */
.dropdown {
  display: none;
  position: absolute;
  background-color: #4C6375;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown li {
  float: none;
}

.dropdown li a {
  padding: 12px 16px;
}

.dropdown li a:hover {
  background-color: #7A9E9F;
}

/* Afficher le sous-menu lorsque la souris survole l'élément de liste */
.navList li:hover .dropdown {
  display: block;
}
